name: Reuse

on:
  workflow_call:
    outputs:
      build-status:
        value: ${{ jobs.deploy.outputs.build-status }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    outputs:
      build-status: ${{ steps.build.outputs.build-status }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Build
        id: build
        run: |
          echo "build-status=success" >> "$GITHUB_OUTPUT"